
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>HBlog | Yazar Paneli</title>

    <link href="~/AdminPanel/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminPanel/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/AdminPanel/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/AdminPanel/css/animate.css" rel="stylesheet">
    <link href="~/AdminPanel/css/style.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        @await Component.InvokeAsync("AdminSidebar");

        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                @await Component.InvokeAsync("AdminTopbar");

            </div>

            <div class="wrapper wrapper-content animated fadeInRight">
                @RenderBody()
            </div>
            <div class="footer">
                <div class="float-right">
                    <strong>Asp.Net Core 5.0</strong>
                </div>
                <div>
                    <strong>Copyright</strong> Emirhan Hasırcı &copy; @DateTime.Now.Year
                </div>
            </div>

        </div>
    </div>



    <!-- Mainly scripts -->
    <script src="~/AdminPanel/js/jquery-3.1.1.min.js"></script>
    -->
    <script src="~/AdminPanel/js/popper.min.js"></script>
    <script src="~/AdminPanel/js/bootstrap.js"></script>
    <script src="~/AdminPanel/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/AdminPanel/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Peity -->
    <script src="~/AdminPanel/js/plugins/peity/jquery.peity.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/AdminPanel/js/inspinia.js"></script>
    <script src="~/AdminPanel/js/plugins/pace/pace.min.js"></script>

    <!-- iCheck -->
    <script src="~/AdminPanel/js/plugins/iCheck/icheck.min.js"></script>

    <!-- Peity -->
    <script src="~/AdminPanel/js/demo/peity-demo.js"></script>

    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });</script>
    @await RenderSectionAsync("scripts", false)
</body>

</html>
