@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "EditBlog";
    Layout = "~/Views/Shared/_Author_Layout_.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Blog ekleme</title>
    <style>
        span.field-validation-error {
            color: red;
        }
    </style>
</head>
<body>
    <form action="/Blog/EditBlog" method="post">
        <input type="hidden" asp-for="BlogID" />
        <div class="form-group">
            <label asp-for="BlogTitle">Blog Başlığı</label>
            <input type="text" asp-for="BlogTitle" class="form-control" />
            <span asp-validation-for="BlogTitle"></span>
        </div>
        <div class="form-group">
            <label asp-for="Category.CategoryName">Blog Kategorisi</label>
            <select asp-items="(List<SelectListItem>)ViewBag.category" asp-for="CategoryID" class="form-control"></select>
            <span asp-validation-for="Category.CategoryName"></span>
        </div>
        <div class="form-group">
            <label asp-for="BlogImage">Blog Resim Yolu</label>
            <input type="text" asp-for="BlogImage" class="form-control" />
            <span asp-validation-for="BlogImage"></span>
        </div>
        <div class="form-group">
            <label asp-for="BlogContent">Blog İçeriği</label>
            <textarea asp-for="BlogContent" class="form-control" rows="5" cols="50"></textarea>
            <span asp-validation-for="BlogContent"></span>
        </div>
        <button type="submit" class="btn btn-facebook">Güncelle</button>
    </form>
</body>
</html>

