@{ 
    var author = (EntityLayer.Concrete.Author)TempData["topAuthor"];
}
<div class="row m-t-lg">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-md-6">
                <div class="ibox-content text-center">
                    <h1>En Çok Blog Üreten</h1>
                    <div class="m-b-sm">
                        <img alt="image" style="width:165px;" class="rounded-circle circle-border " src="@author.AuthorImage">
                    </div>
                    <p class="font-bold">@author.AuthorName @author.AuthorSurname</p>

                    <div class="text-center">
                        <a href="" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Mesaj Gönder</a>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ibox-content">
                    <div>
                        <div>
                            <span>Memory</span>
                            <small class="float-right">10/200 GB</small>
                        </div>
                        <div class="progress progress-small">
                            <div style="width: 60%;" class="progress-bar"></div>
                        </div>

                        <div>
                            <span>Bandwidth</span>
                            <small class="float-right">20 GB</small>
                        </div>
                        <div class="progress progress-small">
                            <div style="width: 50%;" class="progress-bar"></div>
                        </div>

                        <div>
                            <span>Activity</span>
                            <small class="float-right">73%</small>
                        </div>
                        <div class="progress progress-small">
                            <div style="width: 40%;" class="progress-bar"></div>
                        </div>

                        <div>
                            <span>FTP</span>
                            <small class="float-right">400 GB</small>
                        </div>
                        <div class="progress progress-small">
                            <div style="width: 20%;" class="progress-bar progress-bar-danger"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-danger m-r-sm">12</button>
                            Total messages
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary m-r-sm">28</button>
                            Posts
                        </td>
                        <td>
                            <button type="button" class="btn btn-info m-r-sm">15</button>
                            Comments
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-info m-r-sm">20</button>
                            News
                        </td>
                        <td>
                            <button type="button" class="btn btn-success m-r-sm">40</button>
                            Likes
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger m-r-sm">30</button>
                            Notifications
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-warning m-r-sm">20</button>
                            Albums
                        </td>
                        <td>
                            <button type="button" class="btn btn-default m-r-sm">40</button>
                            Groups
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning m-r-sm">30</button>
                            Permissions
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
        </div>
    </div>
</div>